{% extends "base.html" %}
{% block content %}

	<section class="section">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Elo Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.elo | round(3, 'common') }}</td>
				</tr>
			</tbody>
		</table>

		<table class="table">
			<thead>
				<tr>
					<th>Opponent</th>
					<th>Outcome</th>
					<th>Resulting Opponent Score</th>
					<th>Resulting User Score</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>

				{% for result in results %}
				<tr>
					<td><a href="/profile/{{ result.opponent_id }}">{{ result.opponent_name }}</a></td>
					<td>{{ result.outcome }}</td>
					<td>{{ result.resulting_opponent_elo_score | round(3, 'common') }}</td>
					<td>{{ result.resulting_user_elo_score | round(3, 'common') }}</td>
					<td>{{ result.date }}</td>
					<td>{{ now }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</section>

	<section class="section graph">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</section>

{% endblock %}

{% block footer %}
	<script type="application/javascript">
		window.userGames = {{ user_games | tojson | safe }};
		window.userID = {{ user.id }};
	</script>
	<script src="/static/bower_components/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="/static/js/graph_user.js"></script>
{% endblock %}
